/* en vrac :
100% 100%  
flex  
width
*/ 
* {
    box-sizing:border-box;

    }
    img {
      max-width: 100%;
      height: auto;
    }
    .carrousel_parent-ecrans {
      display: flex;
      width: 100%;
      overflow-x: scroll; /* permet de scroller horizontalement */
      scroll-behavior: smooth;
    
    }
    .carrousel_ecran {
      flex: 100%    ²;
      width: none;
    }
    .carrousel_ecran figure {
      margin: 0;
    }

    .carrousel {
        position: relative;
      }
      
      .carrousel_btn {
        position: absolute;
        top: 50%; /* centre verticalement */
        transform: translateY(-50%); /* methode du point nort */
        width: 2rem;
        height: 2rem;
        background: rgba(0,0,0,0.5);
        border-radius: 50%;
        border: none;
        display: grid;
        place-content: center;
        color: #fff;
      }
      
      .carrousel_btn-avant {
        left: 0;
      }
      
      .carrousel_btn-apres {
        right: 0;
      }